body {
    font-family: 'Cabin';
    line-height: 1.5;
    overflow-x: hidden;
    margin: 0px;
}
.topnav {
    background-image: linear-gradient(to right top, #8bd4e7, #67c0e0, #44aada, #2195d2, #007ec9, #0071c0, #0064b7, #0757ad, #0b51a5, #0d4c9d, #0e4695, #0f418d);
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.topnav a {
    color: white;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin: 0 3px;
    border-radius: 10px;
}
.topnav a:hover {
    background-color: #FFFFFF;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}  
.topnav a.active {
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed';
}
.topnav div:nth-child(1) {
    width:25%;
}
.topnav div:nth-child(2) {
    width:75%;
    margin:auto;
    display:flex;
    justify-content: right;
}
h2.main-title {
    text-align: left;
    color: white;
}
footer {
    width: 100%;
    padding: 10px 20px;
    margin-top: 40px;
    background-image: linear-gradient(to left bottom, #8bd4e7, #67c0e0, #44aada, #2195d2, #007ec9, #0071c0, #0064b7, #0757ad, #0b51a5, #0d4c9d, #0e4695, #0f418d);
}
footer p {
    text-align: center;
    color: white;
}
.banner {
    height: 500;
    width: 1200;
}
.main-container {
    max-width: 1200px;
    margin:auto;
    min-height: 500px;
    display: flex;
    padding: 20px;
}
.primary {
    width: 75%;
    padding: 20px;
}
.sidebar {
    width: 25%;
    background: #ccc;
    padding: 20px;
    padding-top: 2px;
    min-height: 65vh;
    max-height: 1000px;
}
.flex-end-submit {
    display: flex;
    padding-top: 2px;
    justify-content: flex-start;
}
.sb-search input {
    width: 100%;
}
.sidebar ul {
    padding-inline-start: 10px;
    list-style-position: inside;
}

.searchbox {
    
    border-radius: 30px;
    align-items: center;
    border: cornsilk 1px solid;
    align-items: center;
    border-radius: 30px;
    height: 20px;
    padding: 10px;
    justify-content: center;
    display: flex;
    outline: none;
}
.searchbox input {
    width: 200px;
    color: rgb(255, 255, 255);
    float: left;
    font-size: 18px;
    transition: 0.4s;
    border-radius: 30px;
    background: none;
    border: none;
}
.searchbox input:focus {
    border: none;
    outline: none;
}
.searcharea {
    float: right;
    border-radius: 50%;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
}
.searchbox input::placeholder {
    color: blanchedalmond;
}